.root{

    -fx-background-color:#101820;

}


.title{

    -fx-font-size:28px;

    -fx-font-weight:bold;

    -fx-text-fill:white;

}


.button{

    -fx-background-color:#00ADB5;

    -fx-text-fill:white;

    -fx-font-size:16px;

    -fx-pref-width:180px;

    -fx-pref-height:45px;

    -fx-background-radius:12px;

}


.button:hover{

    -fx-background-color:#007B83;

}


.label{

    -fx-text-fill:white;

}


.welcome{

    -fx-font-size:30px;

    -fx-font-weight:bold;

}